// UN MENSAJE PARTICULAR
#cardDiscover {
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;

    section.intro {
        p {
            width: 50%;
            margin-bottom: 40px;
        }
    }

    @media only screen and (max-width: 600px){
        height: 50vh;

        section.intro {
            p {
                width: 100%;
            }
        }
    }
}


#cardLoader {
    width: 108px;
    margin: 0 auto;
}

.card-container {
    p {
        text-align: justify !important;
        white-space: pre-line;
    }

    .bottom {
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-top: 32px;

        div {
            width: 46%;            

            h5 {
                text-align: center;
                margin-bottom: 4px;
            }
    
            p {
                text-align: center !important;
                color: $color-sonicSilver;
                font-size: 14px;
            }
        } 
    }

    @media only screen and (max-width: 600px){
        width: auto;
        padding: 0 24px;

        p {
            padding: 0;
        }

        .bottom {
            flex-direction: column;

            div {
                width: 100%;
                margin-bottom: 32px;

                p {
                    font-size: 16px;
                }
            }
        }        
    }
} 

.cardsFooter {
    a {
        display: flex;
        justify-content: center;        
    }

    img {
        width: 7%;
    }

    @media only screen and (max-width: 600px){
        img {
            width: 18%;
        }   
    }
}

// Vue transition
.card-enter-from {
    opacity: 0;
}

.card-leave-to {
    opacity: 0;
}

.card-enter-active,
.card-leave-active {
  transition: opacity 0.3s ease;
}

#card-modal {    
    backdrop-filter: blur(6px);  
    justify-content: center;

    .card-container {        
        display: flex;
        justify-content: center;
        gap: 40px;
        align-items: center;

        img {
            border-radius: 36px;
            width: 400px;
            height: 400px;
        }

        .textWrapper {    
            width: 45%;
            display: flex;
            flex-direction: column;

            h4, h5, p {
                color: $color-whiteMana;
            }

            h4 {
                margin-top: 0;
            }
        }          
    }

    .closeModal {
        position: absolute;
        top: 8px;
        right: 8px;
        padding: 10px;
        font-size: 1.5em;
        color: $color-whiteMana;
        cursor: pointer;
    }

    @media only screen and (max-width: 800px){
        position: absolute;
        align-items: flex-start;

        .card-container {  
            flex-direction: column;
            padding: 48px 32px;
            
            img {
                width: 100%;
                height: auto;
            }

            .textWrapper {
                width: 100%;
            }
        }

        #cardLoader {
            margin-top: 150%;
        }
    }
}
