section {
    .drawingWrapper {
        &.particle {
            background: $color-black;
            width: 200px !important;
            height: 200px;

            &.electron {
                width: 130px !important;
                height: 130px;
            }

            &:hover + p {
                font-weight: 600;
            }
        }
    }
}

.communityFooter {
    a {
        display: flex;
        justify-content: center;        
    }

    img {
        width: 13%;
    }

    @media only screen and (max-width: 600px){
        img {
            width: 27%;
        }   
    }
}