section {
    h2.svg {
        height: 50px;

        &.protonTitle {
            &.es {
                background-image: url(/assets/titles/title_proton_es.svg);
            }
            &.en {
                background-image: url(/assets/titles/title_proton_en.svg);
            }
        }
    
        &.neutronTitle {
            &.es {
                background-image: url(/assets/titles/title_neutron_es.svg);
            }
            &.en {
                background-image: url(/assets/titles/title_neutron_en.svg);
            }
        }
    
        &.electronTitle {
            &.es {
                background-image: url(/assets/titles/title_electron_es.svg);
            }
            &.en {
                background-image: url(/assets/titles/title_electron_en.svg);
            }
        }
    }

    .drawingWrapper {
        &.particle {
            background: $color-black;
            width: 200px !important;
            height: 200px;

            &.electron {
                width: 130px !important;
                height: 130px;
            }

            &:hover + p {
                font-weight: 600;
            }
        }
    }
}

.communityFooter {
    a {
        display: flex;
        justify-content: center;        
    }

    img {
        width: 13%;
    }
}