/* Art gallery */
#galleryWrapper {
    padding: 150px 7vw 200px;
    background-color: $color-black;
    clip-path: ellipse(100% 50% at 50% 50%); 

    p {
        color: $color-whiteMana;
        // font-size: 1em;
        text-align: center;
        width: 55%;
        margin-bottom: 32px;
        white-space: pre-line;

        span {
            font-size: .8em;
            line-height: 130%;
            width: 80%;
            margin: 16px auto 0;
            display: block;
        }
    }

    @media screen and (max-width: 767px) {
       padding: 150px 10vw 200px;
       clip-path: ellipse(130% 50% at 50% 50%); 

       p {
           width: 100%;
       }
    }
}

#gallery {
    display: grid;
    grid-template-columns: repeat(5, [col] 1fr);
    // grid-template-rows: repeat(2, [row] auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;       

    .gallery-item {
        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, [col] 1fr);
    }
}

#gallery-modal {
    justify-content: center;
    
    .modal-content {  
        margin: auto;
        display: block;
        width: 80%;
        max-width: 600px;        
        
        img {
            width: 100%;            
        }

        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: $color-whiteMana;
            padding: 10px 0;
        }
    }
    
    @media only screen and (max-width: 600px){
        .modal-content {
            width: 100%;
        }
    }
}