/* Header */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 16px;
    // height: 18vh;

    &.inApp {
        margin-top: 10vh;
    }

    .navigation {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }
    
    #logo {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        
        img {
        //    height: 80px; 
            width: 320px;
        }        
        
        @media screen and (max-width: 600px) {            
            img {
                width: 220px;
            }
        }
    }
}