/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/lni6mis.css");

$color-white: #F7F8F1;
$color-black: #10100F;
$color-whiteMana: #E9EDD8;

$color-huitPurple: #97ABE7;
$color-auraBlue: #ACDCDD;
$color-vulpesGreen: #CBEFD6;
$color-katusYellow: #F7E4AA;
$color-samaOrange: #FBB189;
$color-sporaRed: #F18B7E;

$color-lorange: #F26A25;
$color-sonicSilver: #777777;

$grid-gutter-width: 24px !default;

html, .root {
  font-size: 16px;
  line-height: 23px;
}

// GRID
.row {
    display: flex;
    justify-content: space-around;
    width: 100%;
}

.grid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    column-gap: 16px;
    row-gap: 16px;    
    
    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(4, [col] 1fr);
    }
}

.col-4 {
    grid-column: span 4;
}

.col-8 {
    grid-column: span 8;
}

.col-3 {
    grid-column: span 3;
}

.col-6 {
    grid-column: span 6;
}

.col-12 {
    grid-column: span 12;
}

// Mobile grid
// .col-sm-2 {
//     grid-column: span 2;
// }
  
// .col-sm-4 {
//     grid-column: span 4;
// }

body {
    margin: 0;
    position: relative;
    background-color: $color-whiteMana;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
    
    font-size: 1em;
    line-height: 1.4375em;
}

#app {
    padding: 18px 0;
    width: 100%; 
    overflow-x: hidden;
}

/* TEXT */
h1,h2,h3,h4,h5,h6,p {
    color: $color-black;
}

h1 { 
  font-family: six-hands-condensed, sans-serif;
  font-weight: 400;
  font-size: 6.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
    
    @media screen and (max-width: 767px) {
        font-size: 3em;
        padding: 0 16px;
    }
}

h2 {
  font-family: six-hands-condensed, sans-serif;
  font-weight: 400;
  font-size: 4.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h3 {
  font-family: six-hands-condensed, sans-serif;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px;    
    
    @media screen and (max-width: 767px) {
        font-size: 16px;
        padding: 0 16px;
    }
}

span {
    color: $color-sonicSilver;
}

ul {   
    &.no-bullets {
        list-style-type: none;
        padding: 0;
//        margin-top: 16px;
    }
    li {
        margin-bottom: 8px;
        font-size: 16px;        
        
        span {
            font-weight: 700;
        }        
    }
}

a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    font-size: 18px;
    font-weight: 600;
    
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
   
    &:focus {
        border-radius: 4px;
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
    
     @media screen and (max-width: 767px) {
        font-size: 16px;
    }
}

button, 
.button {
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: $color-black;
    height: 40px;
    border-radius: 4px;
    color: $color-whiteMana;
    padding: 10px 20px;
    cursor: pointer;
    
    &:hover {
        color: $color-whiteMana;
        background: $color-samaOrange;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
}

.hidden {
    display: none;
}

.align-end {
    align-self: flex-end;
}

//HIDE SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


a.icon-link {
    display: contents;
}


/* Header */
header {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    
    @media screen and (max-width: 767px) {
//        height: 10vh;
//        flex-direction: column-reverse;
//        gap: 40px;
//        margin-top: 16px;
    }
    
    #logo {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        
        img {
           height: 80px; 
        }
        
        @media screen and (max-width: 767px) {            
            img {
                height: 60px;
            }
        }
    }
    
    /*NAV*/
    nav {
        position: absolute;
        top: 16px;
        right: 32px;
        padding: 8px;
        border-radius: 8px;
        backdrop-filter: blur(4.2px);
        -webkit-backdrop-filter: blur(4.2px);

        @media screen and (max-width: 767px) {            
            top: 0;
            right: 16px;
        }

        .lang {
            color: $color-black;
            font-weight: 400;
            padding: 4px 10px;
            -webkit-appearance: none;
            background-color: transparent;
            border-color: $color-black;
            border-radius: 4px;

            &:hover {
                color: $color-lorange;
                -webkit-transition: all 250ms ease-out;
                -moz-transition: all 250ms ease-out;
                -o-transition: all 250ms ease-out;
                transition: all 250ms ease-out;
            }

            &:focus {
                box-shadow: rgba(254, 136, 36, 0.36) 0px 0px 0px 4px;
                outline: 0px;

                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }
    }
}

/* Main sections */
main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
        margin-bottom: 10vh;        
        
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                margin-bottom: 4px;
                text-align: center;
            }
        }
        
        .drawingWrapper {
            display: flex;
            justify-content: center;            
            
            &.linked {
                -webkit-transition: all 200ms ease-out;
                -moz-transition: all 200ms ease-out;
                -o-transition: all 200ms ease-out;
                transition: all 200ms ease-out;
                
                &:hover {
                    transform: scale(1.1);                    
                }                
            }
        }        
        
        @media screen and (max-width: 767px) {
            .row {
                flex-direction: column;
            }
    
            .drawingWrapper {
                img {
                    width: 85%;
                }
            }
        }
        
        &#hero {
            @media screen and (min-width: 768px) {
                padding-top: 0;
            }
            
            .social-nav {
                display: flex;
                align-items: center;
                padding: 80px 0 0;

                li {
                    padding: 0 24px;
                    margin-bottom: 0;  

                    a {
                        font-size: 16px;
                    }

                    &.social {
                        display: flex;
                        align-items: center;

                        a {
                            height: 30px;

                            &:focus {
                                border-radius: 6px;
                                box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                                outline: 0px;

                                -webkit-transition: all 300ms ease-out;
                                -moz-transition: all 300ms ease-out;
                                -o-transition: all 300ms ease-out;
                                transition: all 300ms ease-out;
                            }                        
                        }

                        .icon {
                            width: 30px;
                            height: auto;

                            &:hover {
                                fill: $color-samaOrange;
                                -webkit-transition: all 250ms ease-out;
                                -moz-transition: all 250ms ease-out;
                                -o-transition: all 250ms ease-out;
                                transition: all 250ms ease-out;
                            }                        
                        }  
                    }
                }
            }
            
            .drawingWrapper {
                img {
                    width: 80%;
                }                
            }
            
            @media screen and (max-width: 767px) {
//                padding-bottom: 5vh;
                
                .drawingWrapper {
                    img {
                        width: 100%;
                    }                
                }
            }
        }
        
        &#shops {
            h2 {
                margin-bottom: 0;
                background: url(/assets/title_shop.svg) no-repeat;
                background-size: contain;
                height: 60px;
                width: 180px;

                span {
                    display: none;
                }
            }

            .shop {
                width: 60% !important;
                margin: 64px 0 16px;
                clip-path: inset(3% round 48% 43%);           
                transition: clip-path .2s ease-in-out;

                img {
                    width: 100%;
                }

                &:hover {                    
                    transform: scale(1);
                    clip-path: inset(0% round 42% 47%);
                } 
            }
        }
        
        &#crypto {
            background-color: $color-black;
            padding: 80px 0;

            h2 {
                background: url(/assets/title_nft.svg) no-repeat;
                background-size: contain;
                height: 60px;
                width: 100px;

                span {
                    display: none;
                }
            }

            h2, p {
                color: $color-whiteMana;   
            }            
        }
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    
    .symbol {
        width: 36px;
        margin-bottom: 5vh;
    }
    
//    .row {
//        width: 100%;
//        display: flex;
//        justify-content: space-evenly;
//        
//        @media screen and (max-width: 767px) {
//            flex-direction: column;
//        }
//        
//        ul {
//            li {
//                
//                @media screen and (max-width: 767px) {
//                    text-align: center;
//                }
//                
//                a {
//                    font-size: 14px;
//
//                    &:hover {
//                        color: $color-samaOrange;
//                    }
//                }
//            }
//        }
//    }
    
    .copyright {
        font-size: 14px;
        text-align: center;
//        color: $color-sonicSilver;
        
        a {
            font-size: 14px;
            color: inherit;
            
            &:hover {
                color: $color-samaOrange;
            }
        }        
    }
}

/* Background */
#grain{
    z-index:-2;
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.18;
    background-image: url('/assets/grain-black.png');  
    background-repeat: repeat;
}

/* Art gallery */
#galleryWrapper {
    padding: 150px 7vw 200px;
    background-color: $color-black;
    clip-path: ellipse(100% 50% at 50% 50%); 

    p {
        color: $color-whiteMana;
        // font-size: 1em;
        text-align: center;
        width: 55%;
        margin-bottom: 32px;

        span {
            font-size: .8em;
            line-height: 130%;
            width: 80%;
            margin: 16px auto 0;
            display: block;
        }
    }

    @media screen and (max-width: 767px) {
       padding: 150px 10vw 200px;
       clip-path: ellipse(130% 50% at 50% 50%); 

       p {
           width: 100%;
       }
    }
}

#gallery {
    display: grid;
    grid-template-columns: repeat(5, [col] 1fr);
    // grid-template-rows: repeat(2, [row] auto);
    grid-column-gap: 16px;
    grid-row-gap: 16px;       

    .gallery-item {
        img {
            width: 100%;
        }
    }

    @media screen and (max-width: 767px) {
        grid-template-columns: repeat(2, [col] 1fr);
    }
}

.modal {
    display: flex; 
    position: fixed; 
    z-index: 2; 
    padding-top: 0; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: $color-black; 
    background-color: rgba(0,0,0,0.81);    
    align-items: center;
    justify-content: center;

    .modal-content {  
        margin: auto;
        display: block;
        width: 80%;
        max-width: 600px;
        border-color: transparent;
        background-color: transparent;
        
        img {
            width: 100%;
        }

        #caption {
            margin: auto;
            display: block;
            width: 80%;
            max-width: 700px;
            text-align: center;
            color: $color-whiteMana;
            padding: 10px 0;
        }
    }
    
    /* 100% Image Width on Smaller Screens */
    @media only screen and (max-width: 700px){
        .modal-content {
        width: 100%;
        }
    }
}
  