/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/lni6mis.css");
html, .root {
  font-size: 16px;
  line-height: 23px;
}

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

@media screen and (max-width: 600px) {
  .grid {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.col-4 {
  width: 23%;
}

.col-6 {
  width: 42%;
}

body {
  margin: 0;
  position: relative;
  background-color: #E9EDD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Inter', helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 1em;
  line-height: 1.4375em;
}

#app {
  padding: 18px 0;
  width: 100%;
  overflow-x: hidden;
}

/* TEXT */
h1, h2, h3, h4, h5, h6, p {
  color: #10100F;
}

h1 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 4.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

@media screen and (max-width: 767px) {
  h1 {
    font-size: 3em;
    padding: 0 16px;
  }
}

h2 {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 2.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.05em;
  margin: 0;
}

h2 span {
  display: none;
}

h2.svg {
  background-size: contain;
  background-repeat: no-repeat;
  height: 60px;
  width: 180px;
}

h2.shopTitle.es {
  background-image: url(/assets/titles/title_shop_es.svg);
}

h2.shopTitle.en {
  background-image: url(/assets/titles/title_shop_en.svg);
}

h2.nftTitle {
  background-image: url(/assets/titles/title_nft.svg);
  width: 100px;
}

h2.protonTitle.es {
  background-image: url(/assets/titles/title_proton_es.svg);
}

h2.protonTitle.en {
  background-image: url(/assets/titles/title_proton_en.svg);
}

h2.neutronTitle.es {
  background-image: url(/assets/titles/title_neutron_es.svg);
}

h2.neutronTitle.en {
  background-image: url(/assets/titles/title_neutron_en.svg);
}

h2.electronTitle.es {
  background-image: url(/assets/titles/title_electron_es.svg);
}

h2.electronTitle.en {
  background-image: url(/assets/titles/title_electron_en.svg);
}

h3 {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px;
}

@media screen and (max-width: 767px) {
  p {
    font-size: 16px;
    padding: 0 16px;
  }
}

span {
  color: #777777;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  font-size: 16px;
}

ul li span {
  font-weight: 700;
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #10100F;
  width: auto !important;
  font-size: 18px;
  font-weight: 600;
}

a:hover {
  color: #10100F;
  text-decoration: none;
}

a:focus {
  border-radius: 4px;
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a .underline {
  display: block;
  position: absolute;
  bottom: -1.8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #10100F;
}

@media screen and (max-width: 767px) {
  a {
    font-size: 16px;
  }
}

button,
.button {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: #10100F;
  height: 40px;
  border-radius: 4px;
  color: #E9EDD8;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #E9EDD8;
  background: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

button:focus,
.button:focus {
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.hidden {
  display: none;
}

.align-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

a.icon-link {
  display: contents;
}

/* Header */
header {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 18vh;
  /*NAV*/
}

header #logo {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header #logo img {
  height: 80px;
}

header #logo.community img {
  height: 50px;
}

@media screen and (max-width: 600px) {
  header #logo img {
    height: 60px;
  }
}

header nav {
  min-width: 10%;
  padding: 8px;
  border-radius: 8px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav .lang {
  color: #10100F;
  font-weight: 400;
  padding: 4px 10px;
  -webkit-appearance: none;
  background-color: transparent;
  border-color: #10100F;
  border-radius: 4px;
}

header nav .lang:hover {
  color: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

header nav .lang:focus {
  -webkit-box-shadow: rgba(254, 136, 36, 0.36) 0px 0px 0px 4px;
          box-shadow: rgba(254, 136, 36, 0.36) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

/* Main sections */
main section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10vh 0;
  margin-bottom: 10vh;
}

main section .column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section .column p {
  margin-bottom: 4px;
  text-align: center;
}

main section .drawingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main section .drawingWrapper.zoom {
  -webkit-transition: all 200ms ease-out;
  transition: all 200ms ease-out;
}

main section .drawingWrapper.zoom:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

main section .drawingWrapper.atom {
  -webkit-clip-path: inset(3% round 48% 43%);
          clip-path: inset(3% round 48% 43%);
  -webkit-transition: -webkit-clip-path .2s ease-in-out;
  transition: -webkit-clip-path .2s ease-in-out;
  transition: clip-path .2s ease-in-out;
  transition: clip-path .2s ease-in-out, -webkit-clip-path .2s ease-in-out;
  margin: 64px 0 16px;
}

main section .drawingWrapper.atom img {
  width: 100%;
}

main section .drawingWrapper.atom:hover {
  -webkit-clip-path: inset(0% round 42% 47%);
          clip-path: inset(0% round 42% 47%);
}

main section .drawingWrapper.particle {
  background: #10100F;
  width: 200px !important;
  height: 200px;
}

main section .drawingWrapper.particle.electron {
  width: 130px !important;
  height: 130px;
}

main section .drawingWrapper.particle:hover + p {
  font-weight: 600;
}

@media screen and (max-width: 600px) {
  main section .row {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  main section .drawingWrapper img {
    width: 85%;
  }
}

main section.intro {
  padding-bottom: 0;
}

main section.intro p {
  width: 45%;
  text-align: center;
}

@media screen and (max-width: 600px) {
  main section.intro p {
    width: 100%;
  }
}

@media screen and (min-width: 768px) {
  main section#hero {
    padding-top: 0;
  }
}

main section#hero .social-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 80px 0 0;
}

main section#hero .social-nav li {
  padding: 0 24px;
  margin-bottom: 0;
}

main section#hero .social-nav li a {
  font-size: 16px;
}

main section#hero .social-nav li.social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main section#hero .social-nav li.social a {
  height: 30px;
}

main section#hero .social-nav li.social a:focus {
  border-radius: 6px;
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

main section#hero .social-nav li.social .icon {
  width: 30px;
  height: auto;
}

main section#hero .social-nav li.social .icon:hover {
  fill: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

main section#hero .drawingWrapper img {
  width: 80%;
}

@media screen and (max-width: 767px) {
  main section#hero .drawingWrapper img {
    width: 100%;
  }
}

main section#shops .shop {
  width: 70% !important;
}

main section#crypto {
  background-color: #10100F;
  padding: 80px 0;
}

main section#crypto h2, main section#crypto p {
  color: #E9EDD8;
}

/* Footer */
footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 90px;
}

footer .symbol {
  width: 36px;
  margin-bottom: 5vh;
}

footer .copyright {
  font-size: 14px;
  text-align: center;
}

footer .copyright a {
  font-size: 14px;
  color: inherit;
}

footer .copyright a:hover {
  color: #F4844C;
}

/* Background */
#grain {
  z-index: -2;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.18;
  background-image: url("/assets/grain-black.png");
  background-repeat: repeat;
}

/* Art gallery */
#galleryWrapper {
  padding: 150px 7vw 200px;
  background-color: #10100F;
  -webkit-clip-path: ellipse(100% 50% at 50% 50%);
          clip-path: ellipse(100% 50% at 50% 50%);
}

#galleryWrapper p {
  color: #E9EDD8;
  text-align: center;
  width: 55%;
  margin-bottom: 32px;
}

#galleryWrapper p span {
  font-size: .8em;
  line-height: 130%;
  width: 80%;
  margin: 16px auto 0;
  display: block;
}

@media screen and (max-width: 767px) {
  #galleryWrapper {
    padding: 150px 10vw 200px;
    -webkit-clip-path: ellipse(130% 50% at 50% 50%);
            clip-path: ellipse(130% 50% at 50% 50%);
  }
  #galleryWrapper p {
    width: 100%;
  }
}

#gallery {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: ([col] 1fr)[5];
      grid-template-columns: repeat(5, [col] 1fr);
  grid-column-gap: 16px;
  grid-row-gap: 16px;
}

#gallery .gallery-item img {
  width: 100%;
}

@media screen and (max-width: 767px) {
  #gallery {
    -ms-grid-columns: ([col] 1fr)[2];
        grid-template-columns: repeat(2, [col] 1fr);
  }
}

.modal {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  z-index: 2;
  padding-top: 0;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: #10100F;
  background-color: rgba(0, 0, 0, 0.81);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  /* 100% Image Width on Smaller Screens */
}

.modal .modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 600px;
  border-color: transparent;
  background-color: transparent;
}

.modal .modal-content img {
  width: 100%;
}

.modal .modal-content #caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #E9EDD8;
  padding: 10px 0;
}

@media only screen and (max-width: 700px) {
  .modal .modal-content {
    width: 100%;
  }
}
/*# sourceMappingURL=style.css.map */