/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url("https://use.typekit.net/tsq5whw.css");

$color-white: #F7F8F1;
$color-black: #10100F;
$color-whiteMana: #E9EDD8;

$color-huitPurple: #97ABE7;
$color-auraBlue: #ACDCDD;
$color-vulpesGreen: #CBEFD6;
$color-katusYellow: #F7E4AA;
$color-samaOrange: #FBB189;
$color-sporaRed: #F18B7E;

$color-lorange: #F26A25;
$color-sonicSilver: #777777;

$grid-gutter-width: 24px !default;

html, .root {
  font-size: 16px;
  line-height: 23px;
}

body {
    position: relative;
    padding: 18px;
    background-color: $color-whiteMana;
    width: 100%; 
    overflow-x: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
    
    font-size: 1em;
    line-height: 1.4375em;
}

/* TEXT */
h1,h2,h3,h4,h5,h6,p {
    color: $color-black;
}

h1 { 
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 4.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
    
    @media screen and (max-width: 768px) {
        font-size: 3em;
        padding: 0 16px;
    }
}

h2 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h3 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px;

    span {
        color: $color-sonicSilver;
    }
    
    @media screen and (max-width: 768px) {
        font-size: 16px;
        padding: 0 16px;
    }
}

ul {   
    &.no-bullets {
        list-style-type: none;
        padding: 0;
//        margin-top: 16px;
    }
    li {
        margin-bottom: 8px;
        font-size: 16px;        
        
        span {
            font-weight: 700;
        }        
    }
}

a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    font-size: 18px;
    font-weight: 600;
    
    &:hover {
        color: $color-black;
        text-decoration: none;
    }
   
    &:focus {
        border-radius: 4px;
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
    
     @media screen and (max-width: 768px) {
        font-size: 16px;
    }
}

button, 
.button {
    font-weight: 400;
    font-size: 16px;
    border: none;
    background: $color-black;
    height: 40px;
    border-radius: 4px;
    color: $color-whiteMana;
    padding: 10px 20px;
    cursor: pointer;
    
    &:hover {
        color: $color-whiteMana;
        background: $color-samaOrange;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
}

.align-end {
    align-self: flex-end;
}

//HIDE SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}


a.icon-link {
    display: contents;
}


/* Header */
header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 18vh;
    
    @media screen and (max-width: 768px) {
        height: 10vh;
    }
    
    #logo {
        flex-grow: 1;
        display: flex;
        justify-content: center;
        
        img {
           height: 80px; 
        }
        
        @media screen and (max-width: 768px) {
            justify-content: flex-start;
            
            img {
                height: 50px;
            }
        }
    }
    
    /*NAV*/
    .navbar {
        position: absolute;
        right: 0;
        justify-content: flex-end;
        padding: 8px;             
        
        .navbar-nav {
            display: flex;
            align-items: center;
            
            @media screen and (min-width: 769px) and (max-width: 991px) {
                flex-direction: row;
            }

            li {
                padding: 0 10px;
                margin-bottom: 0;
                
                @media screen and (max-width: 768px) {
                    padding: 8px 0;
                }                

                a {
                    font-size: 16px;
                }

                &.social {
                    display: flex;
                    align-items: center;
                    
                    a {
                        height: 30px;
                        
                        &:focus {
                            border-radius: 6px;
                            box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
                            outline: 0px;

                            -webkit-transition: all 300ms ease-out;
                            -moz-transition: all 300ms ease-out;
                            -o-transition: all 300ms ease-out;
                            transition: all 300ms ease-out;
                        }                        
                    }

                    .icon {
                        width: 30px;
                        height: auto;

                        &:hover {
                            fill: $color-samaOrange;
                            -webkit-transition: all 250ms ease-out;
                            -moz-transition: all 250ms ease-out;
                            -o-transition: all 250ms ease-out;
                            transition: all 250ms ease-out;
                        }                        
                    }  
                }
            }
        }
    }    
}

/* Main sections */
main {
    section {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10vh 0;
        
        .rowWrapper {
            display: flex;
            justify-content: space-around;
            width: 100%;
        }
        
        .column {
            display: flex;
            flex-direction: column;
            align-items: center;
            
            p {
                margin-bottom: 4px;
            }
            
            span {
                color: $color-sonicSilver;
            }
        }
         
        
        .drawingWrapper {
            display: flex;
            justify-content: center;
            
            &.linked {
                -webkit-transition: all 200ms ease-out;
                -moz-transition: all 200ms ease-out;
                -o-transition: all 200ms ease-out;
                transition: all 200ms ease-out;
                
                &:hover {
                    transform: scale(1.1);                    
                }                
            }
        }
        
        @media screen and (max-width: 768px) {
            
            .rowWrapper {
                flex-direction: column;
            }
    
            .drawingWrapper {
                img {
                    width: 100%;
                }
            }
        }        
    }
}

/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 5vh;
    
    .symbol {
        width: 36px;
        margin-bottom: 5vh;
    }
    
//    .rowWrapper {
//        width: 100%;
//        display: flex;
//        justify-content: space-evenly;
//        
//        @media screen and (max-width: 768px) {
//            flex-direction: column;
//        }
//        
//        ul {
//            li {
//                
//                @media screen and (max-width: 768px) {
//                    text-align: center;
//                }
//                
//                a {
//                    font-size: 14px;
//
//                    &:hover {
//                        color: $color-samaOrange;
//                    }
//                }
//            }
//        }
//    }
    
    .copyright {
        font-size: 14px;
//        color: $color-sonicSilver;
        
        a {
            font-size: 14px;
            color: inherit;
            
            &:hover {
                color: $color-samaOrange;
            }
        }        
    }
}

/* Background */
#grain{
    z-index:-2;
    content:"";
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    opacity: 0.18;
    background-image: url('/assets/grain-black.png');  
    background-repeat: repeat;
}
