/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/tsq5whw.css");
/* line 21, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
html, .root {
  font-size: 16px;
  line-height: 23px; }

/* line 26, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
body {
  position: relative;
  padding: 18px;
  background-color: #E9EDD8;
  width: 100%;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Inter', helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 1em;
  line-height: 1.4375em; }

/* TEXT */
/* line 45, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
h1, h2, h3, h4, h5, h6, p {
  color: #10100F; }

/* line 49, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
h1 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 4.25em;
  line-height: 1.01470588em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }
  @media screen and (max-width: 768px) {
    /* line 49, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    h1 {
      font-size: 3em;
      padding: 0 16px; } }

/* line 63, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
h2 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 2.625em;
  line-height: 1.0952381em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 72, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
h3 {
  font-family: kepler-std-subhead, serif;
  font-weight: 700;
  font-size: 1.625em;
  line-height: 1.76923077em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 81, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
h4 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4375em;
  letter-spacing: -0.01em;
  margin: 0 0 8px; }

/* line 90, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px; }
  @media screen and (max-width: 768px) {
    /* line 90, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    p {
      font-size: 16px;
      padding: 0 16px; } }

/* line 101, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
span {
  color: #777777; }

/* line 106, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
ul.no-bullets {
  list-style-type: none;
  padding: 0; }

/* line 111, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
ul li {
  margin-bottom: 8px;
  font-size: 16px; }
  /* line 115, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  ul li span {
    font-weight: 700; }

/* line 121, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #10100F;
  width: auto !important;
  font-size: 18px;
  font-weight: 600; }
  /* line 130, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  a:hover {
    color: #10100F;
    text-decoration: none; }
  /* line 135, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  a:focus {
    border-radius: 4px;
    box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
    outline: 0px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }
  /* line 146, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  a .underline {
    display: block;
    position: absolute;
    bottom: -1.8px;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #10100F; }
  @media screen and (max-width: 768px) {
    /* line 121, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    a {
      font-size: 16px; } }

/* line 161, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
button,
.button {
  font-weight: 400;
  font-size: 16px;
  border: none;
  background: #10100F;
  height: 40px;
  border-radius: 4px;
  color: #E9EDD8;
  padding: 10px 20px;
  cursor: pointer; }
  /* line 173, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  button:hover,
  .button:hover {
    color: #E9EDD8;
    background: #FBB189;
    -webkit-transition: all 250ms ease-out;
    -moz-transition: all 250ms ease-out;
    -o-transition: all 250ms ease-out;
    transition: all 250ms ease-out; }
  /* line 182, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  button:focus,
  .button:focus {
    box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
    outline: 0px;
    -webkit-transition: all 300ms ease-out;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    transition: all 300ms ease-out; }

/* line 193, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
.align-end {
  align-self: flex-end; }

/* line 198, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */ }

/* line 204, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
a.icon-link {
  display: contents; }

/* Header */
/* line 210, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 18vh;
  /*NAV*/ }
  @media screen and (max-width: 768px) {
    /* line 210, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    header {
      flex-direction: column-reverse;
      gap: 40px; } }
  /* line 223, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  header #logo {
    flex-grow: 1;
    display: flex;
    justify-content: center; }
    /* line 228, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    header #logo img {
      height: 80px; }
    @media screen and (max-width: 768px) {
      /* line 233, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
      header #logo img {
        height: 60px; } }
  /* line 240, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  header .navbar {
    position: absolute;
    right: 0;
    justify-content: flex-end;
    padding: 8px; }
    @media screen and (max-width: 768px) {
      /* line 240, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
      header .navbar {
        position: relative; } }
    /* line 250, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    header .navbar .navbar-nav {
      display: flex;
      align-items: center; }
      @media screen and (max-width: 991px) {
        /* line 250, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
        header .navbar .navbar-nav {
          flex-direction: row; } }
      /* line 258, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
      header .navbar .navbar-nav li {
        padding: 0 12px;
        margin-bottom: 0; }
        @media screen and (max-width: 768px) {
          /* line 258, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
          header .navbar .navbar-nav li {
            padding: 0 24px; } }
        /* line 266, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
        header .navbar .navbar-nav li a {
          font-size: 16px; }
        /* line 270, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
        header .navbar .navbar-nav li.social {
          display: flex;
          align-items: center; }
          /* line 274, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
          header .navbar .navbar-nav li.social a {
            height: 30px; }
            /* line 277, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
            header .navbar .navbar-nav li.social a:focus {
              border-radius: 6px;
              box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
              outline: 0px;
              -webkit-transition: all 300ms ease-out;
              -moz-transition: all 300ms ease-out;
              -o-transition: all 300ms ease-out;
              transition: all 300ms ease-out; }
          /* line 289, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
          header .navbar .navbar-nav li.social .icon {
            width: 30px;
            height: auto; }
            /* line 293, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
            header .navbar .navbar-nav li.social .icon:hover {
              fill: #FBB189;
              -webkit-transition: all 250ms ease-out;
              -moz-transition: all 250ms ease-out;
              -o-transition: all 250ms ease-out;
              transition: all 250ms ease-out; }

/* Main sections */
/* line 309, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
main section {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0; }
  /* line 315, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  main section .rowWrapper {
    display: flex;
    justify-content: space-around;
    width: 100%; }
  /* line 321, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  main section .column {
    display: flex;
    flex-direction: column;
    align-items: center; }
    /* line 326, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    main section .column p {
      margin-bottom: 4px; }
  /* line 332, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  main section .drawingWrapper {
    display: flex;
    justify-content: center; }
    /* line 336, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    main section .drawingWrapper.linked {
      -webkit-transition: all 200ms ease-out;
      -moz-transition: all 200ms ease-out;
      -o-transition: all 200ms ease-out;
      transition: all 200ms ease-out; }
      /* line 342, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
      main section .drawingWrapper.linked:hover {
        transform: scale(1.1); }
  @media screen and (max-width: 768px) {
    /* line 349, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    main section .rowWrapper {
      flex-direction: column; }
    /* line 354, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    main section .drawingWrapper img {
      width: 85%; } }
  /* line 362, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  main section#hero .drawingWrapper img {
    width: 80%; }
  @media screen and (max-width: 768px) {
    /* line 371, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    main section#hero .drawingWrapper img {
      width: 100%; } }
  /* line 379, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  main section#shops h2 {
    margin-bottom: 0; }

/* Footer */
/* line 387, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 5vh; }
  /* line 394, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  footer .symbol {
    width: 36px;
    margin-bottom: 5vh; }
  /* line 426, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
  footer .copyright {
    font-size: 14px; }
    /* line 430, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
    footer .copyright a {
      font-size: 14px;
      color: inherit; }
      /* line 434, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
      footer .copyright a:hover {
        color: #FBB189; }

/* Background */
/* line 442, /Users/juanmanuelynz/Library/Mobile Documents/com~apple~CloudDocs/Algo Particular iCloud/algoparticular.github.io/css/style.scss */
#grain {
  z-index: -2;
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  opacity: 0.18;
  background-image: url("/assets/grain-black.png");
  background-repeat: repeat; }

/*# sourceMappingURL=style.css.map */