/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: particular;
  src: url(../assets/Particularfont-Regular.ttf);
  font-style: normal;
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

html, .root {
  font-size: 16px;
  line-height: 23px;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.align-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body {
  margin: 0;
  position: relative;
  background-color: #202221;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Inter', helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 1em;
  line-height: 1.4375em;
}

#app {
  padding: 18px 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#app.praxis {
  padding: 0;
}

main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  z-index: 0;
}

main.formWrapper {
  margin: 0 auto;
  width: 60vw;
  max-width: 250px;
  height: 100vh;
}

.content {
  width: 100vw;
  height: 100vh;
}

h1, h2, h3, h4, h5, h6 {
  color: #FF6F61;
}

h1 {
  font-family: 'particular', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h2 {
  font-family: 'particular', 'Inter', helvetica, sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  margin: 0;
}

h3 {
  font-family: 'particular', 'Inter', helvetica, sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'particular', 'Inter', helvetica, sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h5 {
  font-family: 'Inter', helvetica, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  font-family: 'Inter', helvetica, sans-serif;
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px;
  white-space: pre-line;
  color: #F7F8F1;
}

@media screen and (max-width: 600px) {
  p {
    padding: 0 16px;
  }
}

span {
  color: #777777;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  font-size: 16px;
}

ul li span {
  font-weight: 700;
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #F7F8F1;
  width: auto !important;
  font-size: 18px;
  font-weight: 600;
}

a.icon-link {
  display: contents;
}

a:hover {
  color: #FF6F61;
  text-decoration: none;
}

a:focus {
  border-radius: 4px;
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a .underline {
  display: block;
  position: absolute;
  bottom: -1.8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #FF6F61;
}

button,
.button {
  font-weight: 400;
  font-size: 18px;
  border: none;
  background: #F7F8F1;
  height: 48px;
  border-radius: 8px;
  color: #10100F;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #F7F8F1;
  background: #FF6F61;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

button:focus,
.button:focus {
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media screen and (min-width: 768px) {
  button,
  .button {
    height: 40px;
  }
}

.formWrapper {
  gap: 40px;
}

.formWrapper .heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 16px;
}

.formWrapper .heading h1, .formWrapper .heading h2, .formWrapper .heading p {
  margin: 0;
  padding: 0;
  text-align: center;
}

.formWrapper .form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 16px;
  width: 100%;
}

.formWrapper .form span {
  color: #F18B7E;
}

.formWrapper .form input {
  width: 90%;
  height: 40px;
  background: transparent;
  border: 2px solid #F7F8F1;
  border-radius: 8px;
  font-size: 16px;
  color: #F7F8F1;
  padding: 4px 5%;
}

.formWrapper .form input:hover {
  border-color: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

.formWrapper .form input:focus {
  -webkit-box-shadow: rgba(196, 73, 11, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(196, 73, 11, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

.formWrapper .actions {
  width: 100%;
}

.formWrapper .actions button {
  width: 100%;
}

#notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 10vh;
}

#notFound .drawingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#notFound .drawingWrapper img {
  width: 80%;
}

#notFound h2 {
  margin: 16px 0 32px;
  color: #E9EDD8;
  text-align: left;
}

#notFound p {
  white-space: pre-line;
  color: #E9EDD8;
  text-align: justify;
}

#notFound .button {
  background-color: #E9EDD8;
  color: #10100F;
  margin-top: 24px;
  height: auto;
}

#notFound .button:hover {
  color: #E9EDD8;
  background: #F4844C;
}

#notFound .textContainer {
  background-color: #10100F;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vh 0 20vh;
  margin-top: 32px;
}
