/* FONT IMPORT */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
// @import url("https://use.typekit.net/lni6mis.css");

@font-face {
    font-family: particular;
    src: url(../assets/Particularfont-Regular.ttf);
    font-style: normal;
}

$color-white: #F7F8F1;
$color-black: #10100F;
$color-whiteMana: #E9EDD8;
$color-greyHaze: #363636;

$color-huitPurple: #97ABE7;
$color-auraBlue: #ACDCDD;
$color-vulpesGreen: #CBEFD6;
$color-katusYellow: #F7E4AA;
$color-samaOrange: #FBB189;
$color-sporaRed: #F18B7E;

$color-lorange: #F4844C;
$color-sonicSilver: #777777;

$grid-gutter-width: 24px !default;

//HIDE SCROLLBAR
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}

html, .root {
  font-size: 16px;
  line-height: 23px;
}

html {
    scroll-behavior: smooth;
}

.hidden {
    display: none;
}

.align-end {
    align-self: flex-end;
}


body {
    margin: 0;
    position: relative;
    background-color: $color-whiteMana;
    display: flex;
    flex-direction: column;
    justify-content: center;

    font-family: 'Inter', helvetica, sans-serif;
    letter-spacing: -0.01em;
    
    font-size: 1em;
    line-height: 1.4375em;
} 

#app {
    padding: 18px 0;
    width: 100vw;
    overflow-x: hidden;
    min-height: 100vh;

    &.praxis {
        padding: 0;
    }
}

main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    z-index: 0;

    &.formWrapper {
        margin: 0 auto;
        width: 60vw;
        max-width: 250px;
        height: 100vh;
    }
}


.content {
    width: 100vw;
    height: 100vh;    
}

//Form
.formWrapper {
    gap: 40px;    

    .heading {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 16px;

        h1, h2, p {
            margin: 0;
            padding: 0;
            text-align: center;
        }
    }

    .form {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        gap: 16px;
        width: 100%;

        span {
            color: $color-sporaRed;
        }
        
        input {
            width: 90%;
            height: 40px;
            background: transparent;
            border: 2px solid $color-black;
            border-radius: 8px;
            font-size: 16px;
            color: $color-black;
            padding: 4px 5%;

            &:hover {
                border-color: $color-lorange;
                -webkit-transition: all 250ms ease-out;
                -moz-transition: all 250ms ease-out;    
                -o-transition: all 250ms ease-out;
                transition: all 250ms ease-out;
            }
            
            &:focus {
                box-shadow: rgba(196, 73, 11, 0.3) 0px 0px 0px 4px;
                outline: 0px;
        
                -webkit-transition: all 300ms ease-out;
                -moz-transition: all 300ms ease-out;
                -o-transition: all 300ms ease-out;
                transition: all 300ms ease-out;
            }
        }        
    }

    .actions {
        width: 100%;

        button {
            width: 100%;
        }
    }
}
//////

@import './texts.scss';
@import './buttons.scss';
@import './nav.scss';
@import './error.scss';

