a {
    position: relative;
    cursor: pointer;
    text-decoration: none;
    color: $color-black;  
    width: auto !important;
    font-size: 18px;    
    font-weight: 600;

    &.icon-link {
        display: contents;
    }
    
    &:hover {
        color: $color-lorange;
        text-decoration: none;
    }
   
    &:focus {
        border-radius: 4px;
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }
    
    .underline {
        display: block;
        position: absolute;
        bottom: -1.8px;
        left: 0; // Animated via JS
        width: 0; // Animated via JS
        height: 2px;
        background-color: $color-black;
    }
    
}

button, 
.button {
    font-weight: 400;
    font-size: 18px;
    border: none;
    background: $color-black;
    height: 40px;
    border-radius: 8px;
    color: $color-whiteMana;
    padding: 10px 20px;
    cursor: pointer;
    
    &:hover {
        color: $color-white;
        background: $color-lorange;
        -webkit-transition: all 250ms ease-out;
        -moz-transition: all 250ms ease-out;
        -o-transition: all 250ms ease-out;
        transition: all 250ms ease-out;
    }
    
    &:focus {
        box-shadow: rgba(12, 151, 139, .3) 0px 0px 0px 4px;
        outline: 0px;

        -webkit-transition: all 300ms ease-out;
        -moz-transition: all 300ms ease-out;
        -o-transition: all 300ms ease-out;
        transition: all 300ms ease-out;
    }

    @media screen and (max-width: 767px) {
        height: 48px;
    }
}