/* Footer */
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    
    .symbol {
        width: 36px;
        margin-bottom: 5vh;
    }
    
    nav {
        margin-top: 24px;
    }

//    .row {
//        width: 100%;
//        display: flex;
//        justify-content: space-evenly;
//        
//        @media screen and (max-width: 767px) {
//            flex-direction: column;
//        }
//        
//        ul {
//            li {
//                
//                @media screen and (max-width: 767px) {
//                    text-align: center;
//                }
//                
//                a {
//                    font-size: 14px;
//
//                    &:hover {
//                        color: $color-lorange;
//                    }
//                }
//            }
//        }
//    }
    
    .copyright {
        font-size: 14px;
        text-align: center;
//        color: $color-sonicSilver;
        
        a {
            font-size: 14px;
            color: inherit;
            
            &:hover {
                color: $color-lorange;
            }
        }        
    }

    &.inApp {
        position: fixed;
        bottom: 0;
        width: 100%;

        // a {
        //     display: flex;
        //     justify-content: center;        
        // }
    
        img {
            width: 7%;
        }
    
        @media only screen and (max-width: 600px){
            img {
                width: 18%;
            }   
        }
    }
}