/* FONT IMPORT */
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
@font-face {
  font-family: particular;
  src: url(../assets/Particularfont-Regular.ttf);
  font-style: normal;
}

:root {
  --toolbar-height: 60px;
  --radius: clamp(28px, 4vw, 40px);
  --button-size: calc(calc(var(--radius) * 2) - 10px);
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent;
  /* make scrollbar transparent */
}

html, .root {
  font-size: 16px;
  line-height: 23px;
}

html {
  scroll-behavior: smooth;
}

.hidden {
  display: none;
}

.align-end {
  -ms-flex-item-align: end;
      align-self: flex-end;
}

body {
  margin: 0;
  position: relative;
  background-color: #E9EDD8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: 'Inter', helvetica, sans-serif;
  letter-spacing: -0.01em;
  font-size: 1em;
  line-height: 1.4375em;
}

#app {
  padding: 18px 0;
  width: 100vw;
  overflow-x: hidden;
  min-height: 100vh;
}

#app.praxis {
  padding: 0;
}

/* Background */
/* TEXTs */
h1, h2, h3, h4, h5, h6, p {
  color: #10100F;
}

h1 {
  font-family: 'particular', sans-serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h2 {
  font-family: 'particular', sans-serif;
  font-weight: 600;
  font-size: 48px;
  line-height: 1.1em;
  letter-spacing: -0.03em;
  margin: 0;
}

h3 {
  font-family: 'particular', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h4 {
  font-family: 'particular', sans-serif;
  font-weight: 400;
  font-size: 32px;
  line-height: 1.5em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

h5 {
  font-family: 'Inter', helvetiva, sans-serif;
  font-weight: 700;
  font-size: 1em;
  line-height: 1.4em;
  letter-spacing: -0.01em;
  margin: 0 0 8px;
}

p {
  line-height: 150%;
  font-size: 18px;
  margin: 0 0 24px;
  white-space: pre-line;
}

@media screen and (max-width: 600px) {
  p {
    padding: 0 16px;
  }
}

span {
  color: #777777;
}

ul.no-bullets {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin-bottom: 8px;
  font-size: 16px;
}

ul li span {
  font-weight: 700;
}

a {
  position: relative;
  cursor: pointer;
  text-decoration: none;
  color: #10100F;
  width: auto !important;
  font-size: 18px;
  font-weight: 600;
}

a.icon-link {
  display: contents;
}

a:hover {
  color: #F4844C;
  text-decoration: none;
}

a:focus {
  border-radius: 4px;
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

a .underline {
  display: block;
  position: absolute;
  bottom: -1.8px;
  left: 0;
  width: 0;
  height: 2px;
  background-color: #10100F;
}

button,
.button {
  font-weight: 400;
  font-size: 18px;
  border: none;
  background: #10100F;
  height: 40px;
  border-radius: 8px;
  color: #E9EDD8;
  padding: 10px 20px;
  cursor: pointer;
}

button:hover,
.button:hover {
  color: #F7F8F1;
  background: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

button:focus,
.button:focus {
  -webkit-box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
          box-shadow: rgba(12, 151, 139, 0.3) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

@media screen and (max-width: 767px) {
  button,
  .button {
    height: 48px;
  }
}

/*NAV*/
nav {
  min-width: 10%;
  padding: 8px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

nav .lang {
  color: #10100F;
  font-weight: 400;
  padding: 4px 10px;
  -webkit-appearance: none;
  background-color: transparent;
  border-color: #10100F;
  border-radius: 4px;
}

nav .lang:hover {
  color: #F4844C;
  -webkit-transition: all 250ms ease-out;
  transition: all 250ms ease-out;
}

nav .lang:focus {
  -webkit-box-shadow: rgba(254, 136, 36, 0.36) 0px 0px 0px 4px;
          box-shadow: rgba(254, 136, 36, 0.36) 0px 0px 0px 4px;
  outline: 0px;
  -webkit-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
}

#app.cardsApp {
  padding: 0;
}

#cardDiscover {
  height: 60vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#cardDiscover section.intro p {
  width: 50%;
  margin-bottom: 80px;
}

@media only screen and (max-width: 600px) {
  #cardDiscover {
    height: 50vh;
  }
  #cardDiscover section.intro {
    padding-top: 5vh;
  }
  #cardDiscover section.intro p {
    width: 100%;
  }
  #cardDiscover section.intro button {
    width: 100%;
  }
}

#cardLoader {
  width: 108px;
  margin: 0 auto;
}

.card-container p {
  text-align: justify !important;
  white-space: pre-line;
}

.card-container .bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin-top: 32px;
}

.card-container .bottom div {
  width: 46%;
}

.card-container .bottom div h5 {
  text-align: center;
  margin-bottom: 4px;
}

.card-container .bottom div p {
  text-align: center !important;
  color: #777777;
  font-size: 14px;
}

@media only screen and (max-width: 600px) {
  .card-container {
    width: auto;
    padding: 0 24px;
  }
  .card-container p {
    padding: 0;
  }
  .card-container .bottom {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .card-container .bottom div {
    width: 100%;
    margin-bottom: 32px;
  }
  .card-container .bottom div p {
    font-size: 16px;
  }
}

.card-enter-from {
  opacity: 0;
}

.card-leave-to {
  opacity: 0;
}

.card-enter-active,
.card-leave-active {
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

#card-modal {
  -webkit-backdrop-filter: blur(6px);
          backdrop-filter: blur(6px);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#card-modal .card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#card-modal .card-container .imgWrapper {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-shadow: inset 0px 6px 9px rgba(16, 16, 15, 0.36), inset 0px -6px 9px rgba(16, 16, 15, 0.36);
          box-shadow: inset 0px 6px 9px rgba(16, 16, 15, 0.36), inset 0px -6px 9px rgba(16, 16, 15, 0.36);
}

#card-modal .card-container img {
  width: 400px;
  height: 400px;
  position: relative;
  z-index: -2;
}

#card-modal .card-container .textWrapper {
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#card-modal .card-container .textWrapper h4, #card-modal .card-container .textWrapper h5, #card-modal .card-container .textWrapper p {
  color: #E9EDD8;
}

#card-modal .card-container .textWrapper h4 {
  margin-top: 0;
}

#card-modal .closeModal {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 10px;
  font-size: 2em;
  color: #F7F8F1;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  #card-modal {
    position: absolute;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  #card-modal .card-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  #card-modal .card-container img {
    width: 100%;
    height: auto;
    -o-object-fit: cover;
       object-fit: cover;
  }
  #card-modal .card-container .textWrapper {
    width: auto;
    padding: 0 24px;
  }
  #card-modal #cardLoader {
    margin-top: 150%;
  }
}

#notFound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding-top: 10vh;
}

#notFound .drawingWrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#notFound .drawingWrapper img {
  width: 80%;
}

#notFound h2 {
  margin: 16px 0 32px;
  color: #E9EDD8;
  text-align: left;
}

#notFound p {
  white-space: pre-line;
  color: #E9EDD8;
  text-align: justify;
}

#notFound .button {
  background-color: #E9EDD8;
  color: #10100F;
  margin-top: 24px;
  height: auto;
}

#notFound .button:hover {
  color: #E9EDD8;
  background: #F4844C;
}

#notFound .textContainer {
  background-color: #10100F;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 3vh 0 20vh;
  margin-top: 32px;
}
